@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }

  * {
    @apply font-poppins;
  }

  body {
    @apply bg-background text-foreground;
  }

  @font-face {
    font-family: "poppins-sans";
    src: url("/fonts/poppins.ttf") format("truetype");
  }
}
